

.meme-container {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.meme-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-shadow: 2px 2px 2px #000000;
  transition: all .3s;
}



